@font-face {
  font-family: 'Luminari', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/luminari');
}

#flattery {
  color: mediumseagreen;
  font-family: 'Luminari', sans-serif;
}

h1 {
  color: seagreen;
  font-family: 'Luminari', sans-serif;
}

